<header class="site-header" role="banner" id='header-bar'>

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            <a class="page-link" href="{{ '/tags.html' | relative_url }}"> Tags</a>
        </nav>
        
        <nav class="site-nav">
            <a class="page-link" href="{{ '/archive.html' | relative_url }}"> Archive</a>
        </nav>

        <nav class="site-nav">
            <a class="page-link" href="{{ '/posts.html' | relative_url }}"> Posts</a>
        </nav>

        <!-- 
        <nav class="site-nav">
            <a class="page-link" href="{{ '/' | relative_url }}"> Personal</a>
        </nav>
        -->

    </div>

</header>
